/* -- dashboard -- */

#write-dashboard {
  @include main-container();
  margin-top: 40px;

  .thumbnail {
    background-color: $background-offwhite;
    margin: 18px;
    display: inline-block;
    height: 320px;
    overflow: hidden;
    padding: 10px;
    img {
      height: 200px;
      opacity: 0.7;
      &.new {
        height: 170px;
        margin-top: 20px;
        opacity: 0.5;
      }
    }
  }
}
