<div class="main-container bright">

  <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Stories</h3>
        <br>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h2><i class="icon-chevron-left"></i>Tell a story</h2>
        </div>
        <div class="panel-body text-center">
          <div class="row">
            Write a story that you have always been wanting to tell.
            Share it with others and let them help you grow it.
            Whether you are an amature writer or a journalist or just a voice that
            needs to be heard, this is your platform. tell your story and with the
            help of your readers, develope it to the finish it deserves.
          </div>
          <a href="/write" class="btn btn-lg btn-primary btn-block">start writing</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h2><i class="icon-chevron-left"></i>Read a story</h2>
        </div>
        <div class="panel-body text-center">
          <div class="row">
            Read other people's stories, follow them,
            vote for them and help their stories to be heard.
            You don't need to sign up to read stories, but as a
            member you can interact with the writers and help them
            develop their stories.
          </div>
          <a href="/read" class="btn btn-lg btn-primary btn-block">start reading</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-story">
  <div class="container">
    <div class="col-md-12 text-center"><h2>My story</h2></div>
    <div class="col-md-12 text-center">&nbsp;</div>
    <div class="col-md-10 col-md-offset-1 text-center">
      <div class="row">
        <div class="col-sm-3">
          <img class="img-circle" src="/assets/shamim.jpg" alt="Shamim" width="140" height="140">
        </div>
        <div class="col-sm-9 text-justify">
            <p>
             Hi there! I'm Shamim, the creator of Stories and this is my story.
             I have always wanted to write a book, I even wrote three chapters of one
             but I gave up because I wasn't sure it was good enough only because I didn't receive any feedback.
            </p>
            <p>
             Then one day I decided to follow my dream and create something wonderful and I came up with the idea of interactive story telling.
             A place that nobodies can tell their stories and others listen, vote and interact. Because community is everything!
            </p>
            <p>
              If you like to know more about me or contact me, here is my details:
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9 col-md-offset-3 text-left">
          <ul class="nav">
            <a href="https://twitter.com/shamim_j" target="_blank"><li class="fa fa-twitter fa-2x"></li></a>
            <a href="https://www.linkedin.com/in/shamimjahandideh" target="_blank"><li class="fa fa-linkedin fa-2x"></li></a>
            <a href="https://github.com/sjahandideh" target="_blank"><li class="fa fa-github-alt fa-2x"></li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
